* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.heading {
  text-align: center;
  font-family: 'Roboto';
  color: #171f46;
  font-size: 48px;
  font-weight: bold;
}

.description {
  text-align: center;
  color: #64748b;
  font-size: 14px;
  font-family: 'Roboto';
  margin-top: 24px;
  max-width: 625px;
}

.bg-container {
  text-align: center;

  min-height: 100vh;
  background-color: #f4faff;
}

.card-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .card-list {
    flex-direction: row;
  }
}
